# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

tasks.txt

payment-service/migrations/
order-service/migrations/

# Go build
bin/
*.log


.env
# Vendor
/vendor/
# IDE stuff
.vscode/
.idea/
*.swp
# Swagger
docs/*
